## Creating DataSet

### Reading Input Data

In [1]:
import pandas as pd
Salaries = pd.read_csv("multiple_choice_responses.csv", low_memory = False)
Salaries.head()

  Time from Start to Finish (seconds)  ...                                     Q34_OTHER_TEXT
0               Duration (in seconds)  ...  Which of the following relational database pro...
1                                 510  ...                                                 -1
2                                 423  ...                                                 -1
3                                  83  ...                                                 -1
4                                 391  ...                                                 -1

[5 rows x 246 columns]

### Dropping rows with the missing target variable (Q10)

In [0]:
Salaries.dropna(subset=['Q10'],inplace=True)

In [3]:
Salaries.Q10.unique()

array(['What is your current yearly compensation (approximate $USD)?',
       '30,000-39,999', '5,000-7,499', '250,000-299,999', '4,000-4,999',
       '60,000-69,999', '10,000-14,999', '80,000-89,999', '$0-999',
       '2,000-2,999', '70,000-79,999', '90,000-99,999', '125,000-149,999',
       '40,000-49,999', '20,000-24,999', '15,000-19,999',
       '100,000-124,999', '7,500-9,999', '150,000-199,999',
       '25,000-29,999', '3,000-3,999', '1,000-1,999', '200,000-249,999',
       '50,000-59,999', '> $500,000', '300,000-500,000'], dtype=object)

### Dropping row with the Questions

In [0]:
Salaries.drop(Salaries.index[[0]], inplace=True)

### Combining the salary buckets and label encoding them

In [0]:
salary_buckets = {   '$0-999': '0-9,999',
    '1,000-1,999': '0-9,999',
    '2,000-2,999': '0-9,999', 
    '3,000-3,999': '0-9,999',
    '4,000-4,999': '0-9,999',
    '5,000-7,499': '0-9,999', 
    '7,500-9,999': '0-9,999',
    '10,000-14,999': '10,000-19,999',
    '15,000-19,999': '10,000-19,999', 
    '20,000-24,999': '20,000-29,999',
    '25,000-29,999': '20,000-29,999',
    '30,000-39,999': '30,000-39,999', 
    '40,000-49,999': '40,000-49,999', 
    '50,000-59,999': '50,000-59,999',
    '60,000-69,999': '60,000-69,999',
    '70,000-79,999': '70,000-79,999', 
    '80,000-89,999': '80,000-89,999', 
    '90,000-99,999': '90,000-99,999',
    '100,000-124,999':'100,000-124,999',
    '125,000-149,999':'125,000-149,9991',
    '150,000-199,999':'150,000-199,999',
    '200,000-249,999':'200,000-249,999',
    '250,000-299,999':'>250,000',
    '300,000-500,000':'>250,000',
    '> $500,000':'>250,000'}

In [0]:
salary_encode = {   '$0-999': 0,
    '1,000-1,999': 0,
    '2,000-2,999': 0, 
    '3,000-3,999': 0,
    '4,000-4,999': 0,
    '5,000-7,499': 0, 
    '7,500-9,999': 0,
    '10,000-14,999': 1,
    '15,000-19,999': 1, 
    '20,000-24,999': 2,
    '25,000-29,999': 2,
    '30,000-39,999': 3, 
    '40,000-49,999': 4, 
    '50,000-59,999': 5,
    '60,000-69,999': 6,
    '70,000-79,999': 7, 
    '80,000-89,999': 8, 
    '90,000-99,999': 9,
    '100,000-124,999':10,
    '125,000-149,999':11,
    '150,000-199,999':12,
    '200,000-249,999':13,
    '250,000-299,999':14,
    '300,000-500,000':14,
    '> $500,000':14}

In [10]:
#Label Encoding the target variable
Salaries.loc[1:,'Q10_Encoded'] = Salaries.loc[1:,'Q10'].map(salary_encode)
Salaries.loc[1:,'Q10_Encoded']=Salaries.loc[1:,'Q10_Encoded'].astype(int)
Salaries.Q10_Encoded.unique()

array([ 3,  0, 14,  6,  1,  8,  7,  9, 11,  4,  2, 10, 12, 13,  5])

In [11]:
#Combining the salary buckets
Salaries.loc[1:,'Q10_buckets'] = Salaries.loc[1:,'Q10'].map(salary_buckets)
Salaries.Q10_buckets.unique()

array(['30,000-39,999', '0-9,999', '>250,000', '60,000-69,999',
       '10,000-19,999', '80,000-89,999', '70,000-79,999', '90,000-99,999',
       '125,000-149,9991', '40,000-49,999', '20,000-29,999',
       '100,000-124,999', '150,000-199,999', '200,000-249,999',
       '50,000-59,999'], dtype=object)

In [12]:
Salaries.head()

  Time from Start to Finish (seconds)     Q1  ... Q10_Encoded    Q10_buckets
1                                 510  22-24  ...           3  30,000-39,999
2                                 423  40-44  ...           0        0-9,999
4                                 391  40-44  ...          14       >250,000
5                                 392  22-24  ...           0        0-9,999
6                                 470  50-54  ...           6  60,000-69,999

[5 rows x 248 columns]

In [0]:
Salaries.to_csv("Kaggle_Salary.csv", index=False)